.banner {
    text-align: left;
    position: relative;
    padding: 0 151px 130px;
    &__title {
        font-size: 6rem;
        text-transform: uppercase;
        margin: 73px auto 30px;
        &--white {
            text-shadow: 2px 2px 0px #000000;
        }
    }
    &__desc {
        margin-bottom: 109px;
        font-size: 1.9rem;
        max-width: 500px;
    }
    &__block {
        max-width: 380px;
        color: var(--color3);
        margin: 70px 0;
        font-weight: 500;
    }
    &__gradient {
        background: linear-gradient(52.34deg, #D59647 6.79%, #DBA868 26.67%, #F0E088 44.46%, #DAA35F 54.93%, #D59647 63.3%, #EFE188 87.37%, #D59647 102.02%, #BD843E 104.12%, #805426 109.35%, #68421D 111.44%), #FF5C00;
        background-clip: text;
        color: transparent;
    }
}