.partners {
    margin: 0 auto 100px;
    max-width: 1920px;
    opacity: 0.5;
    &__photo {
        display: flex;
        justify-content: space-around;
        img {
            max-width: 300px;
        }
    }
}

@media screen and (max-width: 1566px) {
    .partners {
        &__photo {
            display: flex;
            flex-wrap: wrap;
            img {
                max-width: 200px;
            }
        }
    }
}

@media screen and (max-width: 1084px) {
    .partners {
        &__photo {
            img {
                &:last-child {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .partners {
        margin: 0 0 40px;
    }
}