.wrapper {
    padding: 0 151px;
    max-width: 1920px;
    margin: 0 auto;
}

@media screen and (max-width: 1344px) {
    .wrapper {
        padding: 0 100px;
    }
}

@media screen and (max-width: 1000px) {
    .wrapper {
        padding: 0 50px;
    }
}